//global variable
static_width = 1024px
static_container_width = 1004px
header_color = #E6E6E6
header_dot_color = #BDBDBD
black = #191919
//#4085EC
button_background = #674D98
header_static_height = 48px
header_wide_height = 48px
header_wide_search_height = 47px

link_color = #5A8EBB
italic_font = "Times New Roman",Georgia,Serif
left_menu_title = #848484
left_menu = #575757
left_background_color = #8DCDE9