//
#header-wrap
  z-index 1000
  width 100%

#header
  //edit
  width 90%
  margin:auto
  height gn(7)
  z-index 1000

#header h1#logo
  float left
  display inline
  height gn(7)
  vertical-align bottom

#logo img
  height 30px

#menu-sub
  float right

#menu-sub li
  float left
  display inline

#menu-sub li#is_login.last
  position relative
  min-width gn(4)

#menu-sub li a
  text-decoration none
  height gn(7)
  line-height gn(7)
  padding 0 gn(9)
  display block

#menu-sub li a:hover
  background #2b2b2b

#menu-sub li a
  color #000
  text-shadow 0px -1px 0px rgba(0, 0, 0, 0.5)

#menu-sub li a:hover
  color #fff
  text-shadow 0px 1px 0px rgba(0, 0, 0, 0.8)

#menu-sub li.last a img.thumbnail
  position relative
  top -1px
  height gn(7) - 2*gn(12)
  width gn(7) - 2*gn(12)
  padding gn(12)
  margin-right gn(13)
  vertical-align middle
