<!doctype html>
<html>
<head>
	<title>Protyping Lab Naming</title>
	<meta charset="utf-8">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/json2.js"></script>
  <script src="/static/js/underscore.js"></script>
  <script src="/static/js/backbone.js"></script>

  <link href="static/css/index.css" rel="stylesheet">
</head>
<body>
  <form action="/name/fetch">
    <div>url:<input type="text" name="url" value="http://amazon.com"/></div>
    <div><input type="submit" value="submit"/></div>
  </form>

<script src="static/js/index.js"></script>

</body>
</html>
