@charset "UTF-8"

@import '__reset__'
@import '__func__'
@import '__global__'

#header-group
  height gn(8)+gn(7)
  position fixed
  z-index 999
  top 0px
  left 0px
  width 100%

#header h1#logo a:hover span
  opacity 0.8

#header-menu-wrap
  z-index 1000
  box-shadow 0 0px #ddd
  width:100%
  background white
  opacity(0.9)
  padding-top:gn(9)
  padding-bottom:gn(9)
  padding-left:5%
  padding-right:5%    

#header-menu
  width:90%
  height:gn(8)
  position relative

#header-menu ul
  position absolute

#header-menu-left
  left 0px

#header-menu-right
  right 0px

#header-menu li
  display inline-block  
  *display inline
  *zoom 1
  height gn(8)
  padding-left gn(10)*2

#header-menu li.icon
  padding-left gn(11)

#header-menu li img
  height 25px


#content-wrap
  top:gn(5)
  position:absolute

.project
  position absolute
.project .thumbnail-wrap
  -moz-box-shadow 5px 5px 1px #9E9E9C,-1px -1px 3px #9E9E9C
  -webkit-box-shadow 5px 5px 1px #9E9E9C,-1px -1px 3px #9E9E9C
  position relative

.project .title-wrap
  margin-top 5px
  margin-left 7px
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;