@charset "UTF-8"

@import '../../../stylus/lib/reset'
@import '../../../stylus/lib/func'

body
  font-family helvetica

#main1
  margin-top 200px
  font-size 48px
  text-align center
  color grey
  span
    color black
    font-weight bold