@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
img {
  border: none;
}
strong {
  font-weight: bold;
}
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.clearfix {
  display: inline-table;
}
body {
  font-family: helvetica;
}
#header-wrap {
  position: fixed;
  background: #808080;
  width: 100%;
  height: 30px;
}
#header-wrap #logo {
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
#header-wrap a {
  color: #fff;
  text-decoration: none;
}
#header-wrap .menu ul li {
  list-style-type: none;
  color: #fff;
  background: #f00;
  width: 80px;
  float: left;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 4px;
  cursor: pointer;
}
#header-wrap .menu ul li.clearfix {
  width: 0px;
}
#content-left-wrap {
  position: fixed;
  padding: 30px 15px 15px 15px;
  width: 50%;
}
#content-left-wrap .title {
  font-size: 16px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
#content-left-wrap .ans {
  font-size: 16px;
  height: 20px;
  padding-bottom: 5px;
  color: #808080;
}
#content-left-wrap .ans1 {
  font-weight: bold;
}
#content-left-wrap textarea {
  width: 100%;
  height: 300px;
}
#content-left-wrap .foot {
  padding-top: 7px;
  vertical-align: bottom;
  text-align: right;
}
#content-left-wrap .foot .button {
  font-size: 14px;
  background: #f00;
  color: #fff;
  padding: 5px 15px 5px 15px;
  margin-left: 10px;
  cursor: pointer;
}
#content-left-wrap .foot .delete {
  font-size: 8px;
  background: #808080;
}
#content-right-wrap {
  width: 45%;
  padding: 0px 5px 15px 15px;
  margin-left: 52%;
}
#content-right-wrap #search_bar {
  margin-top: 12px;
  padding-top: 26px;
  padding-bottom: 20px;
  position: fixed;
  background: #fff;
  width: 45%;
}
#content-right-wrap #search_bar input {
  margin-left: 3%;
  width: 60%;
  height: 30px;
  font-size: 20px;
  float: left;
}
#content-right-wrap #search_bar span {
  width: 50px;
  background: #f00;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  float: left;
  display: block;
  margin-left: 2%;
  margin-top: 3px;
  text-align: center;
}
#content-right-wrap #search_bar span.new {
  font-size: 8px;
  background: #808080;
  padding: 3px 7px;
}
#content-right-wrap #search_list_input {
  position: fixed;
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
#content-right-wrap #search_list {
  margin-top: 79px;
}
.data .title {
  font-weight: bold;
}
.data .title .selecter {
  float: left;
  width: 3%;
  font-size: 10px;
}
.data .title .selecter div {
  width: 50px;
  height: 30px;
  padding-top: 5px;
}
.data .title .edit {
  cursor: pointer;
}
.data .title span.button {
  font-size: 10px;
  background: #f00;
  color: #fff;
  padding: 2px 3px;
  margin-left: 3px;
  cursor: pointer;
}
.data .ans {
  padding-left: 5%;
  color: #808080;
  cursor: pointer;
}
.data .show-list .word {
  background: #808080;
  color: #fff;
  margin-right: 5px;
  font-size: 7px;
  padding: 3px 5px;
}
